cluster.name: my-es-cluster
node.name: {{ node_name }}
path.data: /var/lib/elasticsearch
path.logs: /var/log/elasticsearch
network.host: 0.0.0.0
discovery.seed_hosts: ["es01", "es02", "es03"]
cluster.initial_master_nodes: ["es01", "es02", "es03"]
node.roles: ["master", "data"]
xpack.security.enabled: false