cluster.name: my-es-cluster
node.name: {{ node_name }}
path.data: /var/lib/elasticsearch/data
path.logs: /var/log/elasticsearch
network.host: 0.0.0.0
discovery.seed_hosts: ["10.142.0.8", "10.142.0.7", "10.142.0.9"]
cluster.initial_master_nodes: ["10.142.0.8", "10.142.0.7", "10.142.0.9"]
node.roles: {{ node_roles }}
xpack.security.enabled: false